/*Inicio Carousel*/
#carouselExampleControls{
        left: 0;right: 0;
        margin: auto;
        width: 60%;
        
        @include tablet {
                width: 70%;
        }
        @include mobile {
                width: 80%;
        }
}
/*Fin Carousel*/