/*Inicio Galeria*/
.container {
    overflow: hidden;
    padding: 5px;
    
    .thumbnail:hover {
        transform: translateY(-4px);

        .imagen-container:hover .overlay{
            opacity: 1;
        }
    }
    .imagen {
        display: block;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(143, 22, 1, 0.226);
        
            .caption {
                font-size: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                
                @include tablet {
                    font-size: 1rem;
                }
                @include netbook {
                    font-size: 1rem;
                }
        }
        
    }
}
/*Fin Galeria*/
