/*Inicio Texto*/
h2{
    color: white;
    font-family: $ralewayfont;
    padding: 20px;
    text-align: center;
    
}

.bienvenida{
    font-family: $ralewayfont;
    text-align: center;
}

p{
    color: white;
    font-family: $monserratfont;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
/*Fin Texto*/
