/*Inicio Texto*/
@mixin formato-h2 {
    color: white;
    font-family: $ralewayfont;
    padding: 40px;
    text-align: center;
}

@mixin formato-p {
    color: white;
    font-family: $monserratfont;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.bienvenido {
    @include formato-h2();
}

h2{
    @extend .bienvenido;
}

p{
    @include formato-p();
    @include tablet {
        text-align: center;
    }
    @include mobile {
        text-align: center;
    }
}
/*Fin Texto*/
