/*Inicio Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 26, 26);
}

/*Fin Reset*/
/*Inicio Menu Navegacion*/
#navbar {
  background-color: black;
}
#navbar li:hover {
  background-color: rgb(143, 22, 1);
}
#navbar a {
  color: white;
  font-family: "Montserrat", sans-serif;
}
#navbar li {
  padding: 5px;
  text-transform: uppercase;
}

/*Fin Menu Navegacion*/
/*Inicio Texto*/
.bienvenido, h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 40px;
  text-align: center;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  p {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  p {
    text-align: center;
  }
}

/*Fin Texto*/
.imagencontainer {
  text-align: center;
}

.imagensuelta {
  display: inline-block;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .imagensuelta {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .imagensuelta {
    width: 90%;
  }
}

/*Inicio Carousel*/
#carouselExampleControls {
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
}
@media screen and (max-width: 768px) {
  #carouselExampleControls {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  #carouselExampleControls {
    width: 90%;
  }
}

/*Fin Carousel*/
/*Inicio Formulario*/
form {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
}
form input {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
}
form textarea {
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
form .sexo {
  display: inline-block;
}
form .boton {
  color: rgb(0, 0, 0);
  background-color: rgb(143, 22, 1);
}

/*Fin Formulario*/
/*Inicio Galeria*/
.container {
  overflow: hidden;
  padding: 5px;
}
.container .thumbnail:hover {
  transform: translateY(-4px);
}
.container .thumbnail:hover .imagen-container:hover .overlay {
  opacity: 1;
}
.container .imagen {
  display: block;
  width: 100%;
}
.container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(143, 22, 1, 0.226);
}
.container .overlay .caption {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container .overlay .caption {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .container .overlay .caption {
    font-size: 1rem;
  }
}

/*Fin Galeria*/
/*Inicio Footer*/
.redes {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding-block: 5px;
}
.redes .iconos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.redes .iconos .fa-brands {
  padding: 10px;
}

.fa-facebook {
  background-color: blue;
}

.fa-instagram {
  background-color: rgb(211, 35, 94);
}

.fa-whatsapp {
  background-color: green;
}

/*Fin Footer*/
.box_container {
  margin-bottom: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box_container .box1 {
  animation-delay: 0.5s;
}
.box_container .box2 {
  animation-delay: 1s;
}
.box_container .box3 {
  animation-delay: 1.5s;
}
.box_container .box {
  background-color: rgb(143, 22, 1);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}
@media screen and (max-width: 768px) {
  .box_container .box {
    width: 150px;
    height: 150px;
    font-size: x-large;
  }
}
@media screen and (max-width: 576px) {
  .box_container .box {
    width: 100px;
    height: 100px;
    font-size: medium;
  }
}/*# sourceMappingURL=style.css.map */